@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --font-size: clamp(20px, 1.1vw, 32px);
}

* {
  color: white;
  font-family: "Space Grotesk", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all 0.3s ease;
}

h1,
h2,
h3 {
  text-transform: capitalize;
}

p,
h3 {
  font-size: var(--font-size);
}

h2 {
  font-size: calc(var(--font-size) * 1.618);
}

h1 {
  font-size: calc(var(--font-size) * 1.618 * 1.618 * 1.618);
}

a {
  text-decoration: none;
  cursor: url("./assets/pointer.png"), auto;
}
a:hover {
  color: #1475f5;
}

.split-word span:hover {
  color: #1475f5;
}

html {
  overflow: hidden;
}
html body {
  cursor: url("./assets/cursor.png"), auto;
  overflow: hidden;
}
html body section {
  width: 100vw;
  height: 100vh;
}
html body #hero {
  background: linear-gradient(45deg, #000000, #2b2b2b);
}